/* body{
    position: relative;
    display: block;
    overflow-y: scroll;
} */

.container.content {
    margin-top: 162px;
    padding: 20px;
}

.has-background-white {
    background: white;
}
.has-background-blue {
    background: #3948A3;
}
.has-background-lightblue {
    background: #DEEBFF;
}
.has-text-white {
    color: white;
}
.has-text-blue {
    color: 3948A3;
}

.collapse.navbar-collapse.custom {
    border-top: 1px solid rgb(217, 230, 255);
    border-bottom: 1px solid rgb(217, 230, 255);
}

.container.custom-padding {
    padding: 10px 0px;
}
.container.custom-padding-header-top {
    padding-top: 35px;
    padding-bottom: 10px;
}
.navbar-brand.custom-padding {
    padding: 0px;
}
.nav.navbar-nav.custom-font a {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: normal;
    color: #203354;
}
.img-circle.custom {
    margin: 0px 8px;
    width: 43px;
    height: 43px;
    object-fit: cover;
}
.dropdown-menu.icon::before {
    position: absolute;
    top: -25px;
    right: 29px;
    display: inline-block;
    border-right: 20px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid transparent;
    content: '';
}
  
.dropdown-menu.icon::after {
    position: absolute;
    top: -24px;
    right: 30px;
    display: inline-block;
    border-right: 19px solid transparent;
    border-bottom: 24px solid #F7F7F9;
    border-left: 19px solid transparent;
    content: '';
}
.dropdown-menu.icon {
    top: 68px;
    right: -20px;
    left: auto;
    padding-left: 1px;
    padding-right: 1px;
    background: #F7F7F9;
    border-radius: 10px;
    border: 0px;
    -webkit-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.3);
}
.c-btn.narrow {
    width: 230px;
    height: auto;
    padding: 7px 10px;
    font-size: 13px;
}
.c-btn.subscribe {
    height:44px;
    font-style:normal;
    font-weight:bold;
    font-size:14px;
    line-height:16px;
    color:#ffffff;
}
.dropdown-profile {
    display: inherit;
    padding: 0px 0px 0px 0px;
    width: 170px;
}
.dropdown-menu > li > a {
    padding: 2px 30px;
}
.profile-info {
    padding: 10px 0px;
    float: left;
}
.has-text-gray {
    color: rgb(179, 179, 179)
}
.icon.logout {
    padding: 4px;
    margin-top: -2px;
    margin-right: 10px;
}
.social-media.footer {
    padding: 40px;
    margin-right: 30px;
}
.social-media.footer img {
    margin: 0px 5px;
}